#admin .table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}


#admin h1 {
    margin: 2rem 0;
}

.table__item {
    display: grid;
    grid-template-columns: 20px 1fr 4fr auto auto;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.table__item--id,
.table__item--name {
    font-size: var(--font-medium);
}

.table__item a {
    display: inline-block;
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
}

