/* INICIO MAIN DEL SHOP */
#shop{
    display: flex;
    padding: var(--spacing-68) 0;
    font-family: var(--base-font);
}

/* INICIO DEL ASIDE */
.shop__filters{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8) 0;
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.shop__filters input, .shop__filters select {
    padding: var(--spacing-2);
    border: 1.5px solid var(--dark-solid);
    border-radius: 3px;
}


#min, #max{
    width: 4rem;
    text-align: center;
}


.shop__filters_title{
    /*revisar tamaño fuente, no me toma bien con la variable*/
    font-size: var(--font-small);
    display: block;
    padding: var(--spacing-8) 0;
}

.filter label{
    /*revisar tamaño fuente, no me toma bien con la variable*/
    font-size: var(--font-xsmall);
    display: block;
    padding: var(--spacing-2) 0;
}

/* FIN DEL ASIDE */

/* CONTENIDO */
.shop__items{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-28);
}

.shop__item{
    flex: 1 1 clamp(200px, 30%, 30%);
}
/* FIN DE CONTENIDO */

/* PAGINADO */
.pagination {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
    padding-top: var(--spacing-68);
}

.pagination .pagination__link {
    display: block;
    font-size: var(--font-xsmall);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--dark-solid);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
    color: var(--dark-solid);
}

.pagination .pagination__link:hover {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    border-color: var(--primary-solid);
}

.pagination .pagination__link--selected {
    border-color: var(--primary-solid);
    color: var(--primary-solid);
}

/* FIN MAIN */


@media (max-width:478px) {
    #shop{
        flex-direction: column;
    }
}