.shop__collection{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.shop__collection:nth-child(1) .shop__collection__cover{
    order:-1;
}