.item{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.item__name{
    font-size: var(--font-jumbo);
}

.item__info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.item__info p:nth-child(2){
    font-size: var(--font-small);
}

.item__info p:nth-child(3){
    font-size: var(--font-large);
}

.shop__collection__content p:nth-child(4){
    font-size: var(--font-jumbo);
}

.item__info div input{
    width: 8rem;
    height: 3rem;
    text-align: center;
    font-size: var(--font-small);
}

.item__submit{
    display: inline-block;
    font-size: var(--font-xsmall);
    background-color: var(--primary-900);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
}

.item__promo{
    display: inline;
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.item__promo a{
    border-bottom: 2px solid var(--secondary-solid);
}